@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:wght@400;700;900&display=swap');

#body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.5%;
  color: #5f4b40;
}

#search {
  width: 30vw;
}

#header-text{
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
}

#output{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  width: 45%;
  margin-top: 5%;
}

#symbol-div{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#symbol{
  font-size: 100px;
}

.output h1{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 40px;
  color: #413c3c
}

.output-text:hover {
  cursor: url("../images/cursorClipboard.png"), auto;
}

#symbol:hover {
  cursor: url("../images/cursorClipboard.png"), auto;
}

.output-text{
  font-weight: 400; 
}

.ant-input-search-large .ant-input-search-button {
  height: 56px;
}

.ant-input-search .ant-input-lg {
  line-height: 2.5713;
}

#alert-div{
  display: none;
}